body {
    margin: 0;
    font-family: Verdana, Helvetica, sans-serif;
}

.block {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #d8d8d8;
}

.title-block {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    background-color: #f0f0f0;
}

.content-block {
    background-color: #f0f0f0;
    padding: 0.5em;
}

#slots-info {
    margin: 0.2em;
    padding: 0.2em;
    display: flex;
    flex-flow: row wrap;
}

#slots-info .infocard {
    border: 1px solid #d8d8d8;
    border-left-width: 0.3em;
    padding: 0.2em;
    margin: 0.2em;
}

ul#slots-list {
    list-style-type: none;
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul#slots-list li {
    display: inline-block;
}

ul#slots-list ul.slot li {
    display: block;
    text-align: right;
    margin: 0.2em;
}

ul.slot {
    list-style-type: none;
    background-color: #d8d8d8;
    margin: 0.2em;
    padding: 0.2em;
}

ul.slot input {
    width: 2em;
}

ul.roll-list {
    list-style-type: none;
    padding: 0.2em;
    margin: 0.2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul.roll-list li {
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em;
}

li.rollcard {
    background-color: #d8d8d8;
    border-top: 0.3em solid #f0f0f0;
}

li.rollcard.event-2,
li.rollcard.event-3 {
    background-color: #bbbbdd;
}

li.rollcard.event-3 {
    border-color: #938cff;
}

li.rollcard.event-2.payout-yes,
li.rollcard.event-3.payout-yes {
    background-color: #e9dd73;
}

li.rollcard.event-3.payout-yes {
    border-color: #d7ad00;
}

.rollcard ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rollcard ul li.rollsym {
    margin: 0.1em;
    padding: 0;
    min-width: 1.3em;
    text-align: center;
}