body {
    margin: 0;
    font-family: Verdana, Helvetica, sans-serif;
}

.block {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #d8d8d8;
}

.title-block {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    background-color: #f0f0f0;
}

.content-block {
    background-color: #f0f0f0;
    padding: 0.5em;
}

ul#slots-list {
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul#slots-list li {
    list-style-type: none;
    display: inline-block;
}

ul#slots-list ul.slot li {
    display: block;
    text-align: right;
    margin: 0.2em;
}

ul.slot {
    background-color: #d8d8d8;
    margin: 0.2em;
    padding: 0.2em;
}

ul.slot input {
    width: 2em;
}